name: push-actions
on: [push]
  #schedule:
  #  - cron: 20 3,11,19 * * *
  #workflow_dispatch: # Allows manual trigger from Github UI
jobs:
  push-job:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      id-token: write     # OIDC npm
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          #registry-url: 'https://registry.npmjs.org'
      - run: scripts/install
      - run: git config user.name github-actions
      - run: git config user.email github-actions@github.com
      - run: npm run push-action
